body {
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2980b9;
}

.texto-20 {
    font-size: 20px;
}

.blanco {
    color: white;
}

.div-login {
    background-color: #34495e;
    border: 3px solid #f1c40f;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    padding-bottom: 20px;
    box-shadow: 3px 6px 7px 2px;
    position: absolute;
    width: 330px;
}

.div-input {
    padding: 15px 25px 10px 30px;
}

.input-login {
    border: none;
    background-color: #34495e;
    color: white;
    border-bottom: 1px solid;
}

.input-login::placeholder {
    color: white;
}

.input-login[disabled],
.input-login[readonly] {
    color: white;
    background-color: #34495e;
}

.div-login-header {
    background-color: #f1c40f;
    color: white;
    padding: 6px 6px 10px 0px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.text-center {
    text-align: center;
}

.div-logos {
    padding: 1px 30px 1px 1px;
    margin-bottom: 20px;
    cursor: pointer;
}

.div-logos:hover {
    opacity: 0.8;
}

.img-fondo {
    width: 100%;
    height: 100%;
    position: absolute;
}

.img-fondo img {
    width: 100%;
    height: 100%;
}

.container-login {
    width: 100%;
    height: 100%;
    position: relative;
}

.div-register {
    background-color: #34495e;
    border: 3px solid #f1c40f;
    margin-left: 495px;
    margin-right: 400px;
    margin-top: 50px;
    padding-bottom: 20px;
    box-shadow: 3px 6px 7px 2px;
    position: absolute;
}

.div-register-header {
    background-color: #f1c40f;
    color: white;
    padding: 6px 6px 10px 0px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}

.back-white {
    background-color: white;
    width: 100%;
    display: inline-flex;
    height: 280px;
}

.div-circle {
    width: 20%;
    background-color: #3498db;
    height: 240px;
    display: inline-block;
    border: 13px solid #2980b9;
    border-radius: 150px;
    margin: 13px 12px 13px 13px;
    cursor: pointer;
    box-shadow: 5px 10px 6px 4px #2c3e50;
}

.div-circle:hover {
    opacity: 0.8;
}

.icon-ind {
    margin: 52px 25px 32px 60px;
    font-size: 100px;
}

.div-text {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.img-parallax {
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span {
    background-color: transparent;
    font-size: 40px;
    color: #e67e22;
    font-weight: bold;
}

.div-item {
    width: 20%;
    height: 240px;
    margin: 0px 8px 8px 8px;
    border: 1px solid #3498db;
}

.div-section {
    height: 50%;
    background-color: #2980b9;
    width: 100%;
}

.div-section:hover {
    opacity: 0.8;
}

.div-details {
    height: 50%;
    background-color: #2980b9;
    width: 100%;
}

.div-menu {
    margin-left: -3000px;
}

.menu {
    width: 300px;
    background-color: #34495e;
    height: 100%;
    display: inline-block;
    position: absolute;
    z-index: 3000;
    height: 100vh;
}

.menu ul {
    margin: 0px;
    padding: 0px;
}

.menu ul hr {
    margin-top: 0px !important;
    margin-bottom: 0px;
    border-top: 1px solid #eee !important;
    margin-left: 40px;
    margin-right: 40px;
}

.menu-li {
    list-style: none;
    padding: 37px 11px 4px 8px;
    text-align: center;
}

.menu-li a:link {
    text-decoration: none;
    color: white;
}